*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.project-card{
    font-family: 'Poppins';
    display: block;
    width: 22rem;
    height: auto;
    padding: 1rem;
border-radius: 0.5rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background-color: aliceblue;
margin:1rem 2rem;
}
.project-card:hover{
transform: scale(1.05);
transition: 0.2s ease;
}
.project-card .project-img img{
    width: 20rem; 
    height: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-content h1{
    color: #003971;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem 0;
}
.project-content p{
    font-size: 0.8rem;
    margin: 0.4rem 0;
}
.project-content span{
  color: #002679;
    font-size: 0.8rem;

}
button{
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: 1rem 1rem 1rem 0;
}
button a{
    text-decoration: none; 
}
.buttons h3{
    text-decoration: none; 
background-color: aliceblue;
padding: 0.5rem 1rem;
border-radius: 0.5rem;
color: #003971;
}