.about-section {
    margin: 10rem 10rem 8rem 10rem;

}

.about-section h1 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-decoration: underline #006EDB ;
    border-radius: 1rem;

}

.about{
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}
.about-img img{
    border-radius: 1rem;
    height: 100%;
    max-width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about .content{
    margin-left: 3.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 500;
    
}
.about .content h5{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.about .content p{
    font-size: 1.1rem;
    font-weight: 500;}
.about .content h5 img{
    margin-right: 0.5rem;
    
}


@media screen and (max-width: 990px){
    .about-section {
        margin: 5rem 1rem;
    
    }
    .about-section h1 {
        font-size: 2rem;
        font-weight: 400;
    }
    
.about{
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.about-img img{
    margin: 2rem 0rem;

}
.about .content{
    text-align: left;
    margin: 1rem 0rem;
    font-size: 1.1rem;
}
.about .content h5{
    font-size: 1rem;
}

}